.icon {
	display: inline-block;
	height: 4rem;
    width: 4rem;
	fill: $orange;
}
.icon-twitter {
	fill: $orange;
}
.icon-trombetta {
	fill: $orange;
}
.icon-smile {
	fill: $orange;
}
.icon-more {
	fill: $orange;
}
.icon-guest {
	fill: $orange;
}
.icon-boo {
	fill: $orange;
}
.icon-applause {
	fill: $orange;
}
